@using Microsoft.AspNet.Identity
@model HelpOut.Models.Event

@{
    ViewBag.Title = "Details";
    
}

<h3>Event Details</h3>

<div class="row">
    <div class="col-md-3">
        <h1>@Model.Name</h1>
        by @Model.Organization.FullName

        <h4>
            When: @Model.DateTime <br />
            Where: @Model.Location <br />
        </h4>
    </div>

    <div class="col-md-3">
        <h3>placeholder <br />/for <br /> map or image</h3>
    </div>
    <div class="col-md-3">
        <br />

        @if (Model.OrganizationID == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit Event", "Edit", new { id = Model.EventID }, new { @class = "btn btn-default btn-block" })
            @Html.ActionLink("Delete Event", "Delete", new { id = Model.EventID }, new { @class = "btn btn-danger btn-block" })
        }

        else if (!User.IsInRole("Organization"))
        {
            using (@Html.BeginForm("Details", "Event", new { eventID = Model.EventID, volunteerID = User.Identity.GetUserId() }))
            {
                @Html.AntiForgeryToken()

                ViewBag.rsvpText = ViewBag.Attending ? "Attending!" : "RSVP!";
                <input type="submit" class="btn btn-default btn-block" value=@ViewBag.rsvpText />
            }
        }
    </div>

</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h2>Description</h2>
        @Model.Description
    </div>
</div>
<br />
<br />
<hr />
<div class="row col-xs-12">
    @Html.ActionLink("List of Events", "Index")
</div>
