@using Microsoft.AspNet.Identity
@model HelpOut.Models.EventDetailDTO

@{
    ViewBag.Title = "Details";
}

<h3>Event Details</h3>

<div class="col-md-9">
    <h1>@Model.Name</h1>
    by @Model.OrganizationName 

    <h4>When: @Model.DateTime <br />
    Where: @Model.Location <br /> </h4>
</div>

<div class="col-md-3">
    <br/>

    @if (User.IsInRole("Organization"))
    {
        @Html.ActionLink("Edit Event", "Edit", new { id = Model.EventID }, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("Delete Event", "Delete", new { id = Model.EventID }, new { @class = "btn btn-danger btn-block" })
    }

    else
    {
        @*<button type="button" class="btn btn-warning btn-block">RSVP! (Empty Button)</button>*@
        @*@Html.ActionLink("RSVP!", "UpdateSignups", new { eventID = Model.EventID, volunteerID = User.Identity.GetUserId() }, new { @class = "btn btn-default btn-block" })*@
        using (@Html.BeginForm("Details", "Event", new { eventID = Model.EventID, volunteerID = User.Identity.GetUserId() }))
        { 
        @Html.AntiForgeryToken()
        <input type="submit" class = "btn btn-default btn-block" value=@ViewBag.rsvpText /> 
        }
    }
</div>

<hr/>
<div class="row">
    <div class="col-xs-12">
        <h2>Empty space we have no idea what to use for..</h2>
    </div>
</div>


@*<div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Organization
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrganizationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>*@
<div class="row">
    @Html.ActionLink("List of Events", "Index")
</div>
