@model HelpOut.Models.AttendanceRoster

@{
    ViewBag.Title = "EventRoster";
}

<h2>EventRoster</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Present)
            </td>
        </tr>
    }
</table>